
.html {
    font-family: 'Roboto Slab', serif;
}

.a:hover {
   color: red;
}


body {
    margin: auto;
    padding: 50px;
    color: #000000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}



.All {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 70% 1fr;
    grid-template-areas:
        "nav nav"
        "logo logo"
        "main side"
        "footer footer";
}

/*Text decoration*/
h2 {
    text-decoration: underline;
    font-style: italic;
}


.in {
    border: solid 1px #000000;
}

/*grid area start*/
/*nav and footer background are same */


.nav {
    border: solid 1px #000000; 
    background-color: #8C6A4D;
    grid-area: nav;
    color: white;
    text-align: center;
    height: 70px;
}

.nav a {
    color: white;
}

.logo {
    grid-area: logo;
    background-image: url('../image/Logo Resize5.png');
    background-size: cover;
    height: 300px;
}

.main {
    background-color: #BED17D;
    grid-area: main;
    text-align: left;
    padding: 20px;
}

.side {
    background-color: #D9AA3D;
    grid-area: side;
    text-align: center;
}

.footer {
    background-color: #8C6A4D;
    grid-area: footer;
    color: white;
}

/*grid area end*/

