
.All {
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: auto;
    grid-template-areas:
        "nav nav nav nav nav nav"
        "logo logo logo logo logo logo"
        "main main main main side"
        "footer footer footer footer footer footer";
}

.in {
    border: solid 1px #000000;
    padding: 20px;
}

/*strucutre start*/

.nav {
    border: solid 1px #000000; 
    background-color: #8C6A4D;
    grid-area: nav;
}

.logo {
    grid-area: logo;
}

.main {
    background-color: #BED17D;
    grid-area: main;
}

.side {
    background-color: #D9AA3D;
    grid-area: side;
}

.footer {
    background-color: #8C6A4D;
    grid-area: footer;
}

/*structure end*/